*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 80px;
  }

    
  .game-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 30px;
  }
    
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #333;
  }
  
  #player-turn {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}


  #restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
  }

.line {
  position: absolute;
  background-color: #000000;
  height: 5px;
  display: none;
  z-index: 1;
  transform-origin: 0 50%;
}


@media(max-width:350px){
    h1{
        font-size: 25px;
    }
    .game-board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
      }

      .cell{
        width: 80px;
        height: 80px;
      }
}  



@media(max-width:350px){
    h1{
        font-size: 20px;
    }
    .game-board {
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
      }

      .cell{
        width: 60px;
        height: 60px;
      }
} 
