body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 80px;
  }

    
  .game-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 80px;
  }
    
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #333;
  }
  
  #restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
  }

  .line {
    position: absolute;
    background-color: #000000;
    width: 300px;
    height: 5px;
    top: 50px;
    left: 0;
    transform-origin: center;
    display: none;
    z-index: 1;
  }

@media(max-width:350px){
    h1{
        font-size: 25px;
    }
    .game-board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
      }

      .cell{
        width: 80px;
        height: 80px;
      }
}  



@media(max-width:350px){
    h1{
        font-size: 20px;
    }
    .game-board {
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
      }

      .cell{
        width: 60px;
        height: 60px;
      }
} 